SpeechRecognition>=3.8.1
gTTS>=2.2.3
edge-tts>=7.0.0
customtkinter>=5.2.0
requests>=2.0.0
pystray>=0.19.3
Pillow>=10.0.0
vosk>=0.3.45
PyAudio>=0.2.14
pygame>=2.5.0
psutil>=5.9.0
pycaw>=20230407
comtypes>=1.2.0
duckduckgo_search>=6.0.0